In [39]:
%load_ext autoreload
%autoreload 2
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from pesos_y_alturas_helper import eval_model, plot_model
from mpl_toolkits.mplot3d import Axes3D  # noqa: F401 unused import
%matplotlib qt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [40]:
df_test=pd.read_csv("alturas-pesos-mils-test.csv")
df_train=pd.read_csv("alturas-pesos-mils-train.csv")
df_train.drop(columns=["Unnamed: 0"], inplace=True)
df_test.drop(columns=["Unnamed: 0"], inplace=True)

In [41]:
df_train.head()

   Genero    Peso   Altura
0   Mujer  61.235  162.402
1  Hombre  97.432  181.908
2  Hombre  73.324  172.459
3   Mujer  55.193  157.748
4   Mujer  56.886  151.798

In [42]:
df_train.describe()

              Peso       Altura
count  8000.000000  8000.000000
mean     72.802476   168.113424
std      14.624699     9.829018
min      31.207000   138.866000
25%      61.071750   160.765750
50%      72.748500   167.976500
75%      84.523250   175.320000
max     121.687000   199.824000

In [43]:
len(df_train[df_train["Genero"]=="Mujer"])

3998

In [44]:
len(df_train[df_train["Genero"]=="Hombre"])

4002

In [45]:
#Media de peso y altura

print("La media de pesos es {} Kg".format(df_train["Peso"].mean()))
print("La media de alturas es {} cm".format(df_train["Altura"].mean()))

La media de pesos es 72.802475875 Kg
La media de alturas es 168.113424125 cm

In [46]:
df_train[df_train["Genero"]=="Hombre"].mean()

Peso       84.455398
Altura    174.915330
dtype: float64

In [47]:
df_train[df_train["Genero"]=="Mujer"].mean()

Peso       61.137895
Altura    161.304713
dtype: float64

In [48]:
df_train.hist(bins=30)

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x7ff1eacba050>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7ff1eae82b50>]],
      dtype=object)

In [49]:
fig=plt.figure(figsize=[18,6])
ax = plt.gca()
df_train[df_train["Genero"]=="Mujer"]["Altura"].hist(bins=30,ax=ax,color='b',label="Mujer")
df_train[df_train["Genero"]=="Hombre"]["Altura"].hist(bins=30,ax=ax,color='r',label="Hombre")
plt.title("Histogramas de Pesos de Hombres y Mujeres")
plt.xlabel("Altura")
plt.ylabel("Frecuencia")
plt.legend()
plt.show()
fig=plt.figure(figsize=[18,6])
ax = plt.gca()
df_train[df_train["Genero"]=="Mujer"]["Peso"].hist(bins=30,
                                                   ax=ax,
                                                   color='b',
                                                   label="Mujer",
                                                   alpha=0.5)
df_train[df_train["Genero"]=="Hombre"]["Peso"].hist(bins=30,
                                                    ax=ax,
                                                    color='r',
                                                    label="Hombre",
                                                   alpha=0.5)
plt.title("Histogramas de Pesos de Hombres y Mujeres")
plt.xlabel("Peso")
plt.ylabel("Frecuencia")
plt.legend()
plt.show()

In [50]:
plt.figure(figsize=[6,6])
plt.scatter(df_train[df_train["Genero"]=="Mujer"]["Peso"],
            df_train[df_train["Genero"]=="Mujer"]["Altura"],
            color="b",
            label="Mujeres",marker="x")

plt.scatter(df_train[df_train["Genero"]=="Hombre"]["Peso"],
            df_train[df_train["Genero"]=="Hombre"]["Altura"],
            color="r",
            label="Hombres")
plt.legend()
plt.xlabel("Peso")
plt.ylabel("Altura")
plt.savefig("scatter_PA.png")
plt.show()

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
df_train2, df_valid = train_test_split(df_train, test_size=0.30)

In [53]:
hist2d=np.histogram2d(df_train2["Peso"].values,df_train2["Altura"].values,bins=[4,5])

In [54]:
np.digitize(df_train2["Altura"].values,hist2d[2])

array([3, 3, 2, ..., 4, 2, 3])

In [55]:
hist2d[1]

array([ 31.207,  53.827,  76.447,  99.067, 121.687])

In [56]:
acc=0
for binsA in range(1,50):
    for binsP in range(1,100):
        acc_aux=eval_model(df_train2,df_valid,binsA=binsA,binsP=binsP)
        if acc_aux>acc:
            acc=acc_aux
            best_binsA=binsA
            best_binsP=binsP

In [57]:
acc

0.9166666666666666

In [58]:
best_binsA

18

In [59]:
best_binsP

36

In [60]:
plot_model(df_train2,df_valid,binsA=1,binsP=1)

In [61]:
eval_model(df_train2,df_valid,binsA=100,binsP=100)

0.8633333333333333

In [62]:
plot_model(df_train2,df_valid,binsA=5,binsP=5)

In [63]:
plot_model(df_train2,df_valid,binsA=9,binsP=50)

In [64]:
plot_model(df_train2,df_valid,binsA=50,binsP=50)